@(title: String)

<!DOCTYPE html>

<html ng-app="crud">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/angular/angular.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
</head>
<body>
    <div ng-view></div>
</body>
</html>